<h2>Eventos</h2>
<hr>
<div>
  <div class="col-md-4 row">
    <label class="mr-2 col-md-2 col-form-label"> Filtro: </label>
    <div class="col-md-10">
      <input type="text" class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista">
    </div>
  </div>
</div>
<h3> Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-small"
        (click)="alterarImagem()">Mostrar</button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>
        <img [collapse]="!mostrarImg"
        [isAnimated]="true"
        src="assets/{{evento.imagemURL}}"
        [style.width.px]="larguraImg"
        [style.margin.px]="margemImg">
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td><button class="btn">Edit</button></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4> Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
